@using System.Security.Claims
@using ApiContracts
@using ClientApp.Services
@inject IPostService PostService
@inject ICommentService CommentService
@inject IUserProfileService UserProfileService
@inject NavigationManager Navigation

<div class="post-details-container">
    <h2>@_postDto?.Title_txt</h2>

    @if (GetAuthorNameFromMap(_postDto?.Author_id ?? 0).Equals("UNKNOWN USER")) {
        <p class="post-info"><strong>Authored by:</strong> 'Unknown User'</p>
    } else {
        <p class="post-info"><strong>Authored by:</strong> '@GetAuthorNameFromMap(_postDto?.Author_id ?? 0)'</p>
    }
    
    <p class="post-info"><strong>Created on:</strong> @_postDto?.Timestamp_created</p>
    
    @if (_postDto?.Timestamp_created != null && _postDto?.Timestamp_modified != null && _postDto.Timestamp_created < _postDto.Timestamp_modified) {
        <p class="post-info"><strong>Last modified on:</strong> @_postDto?.Timestamp_modified</p>
    }

    <div class="post-body">
        <p>@_postDto?.Body_txt</p>
    </div>
    
    <div class="comments-section">
        <h3>Comments</h3>
        @if (_comments.Count > 0) {
            @foreach (var comment in _comments) {
                <div class="comment-item">
                    @if (GetAuthorNameFromMap(comment.Author_Id ?? 0).Equals("UNKNOWN USER")) {
                        <p><strong>'Unknown User':</strong> @comment.Body_txt</p>
                    } else {
                        <p><strong>'@GetAuthorNameFromMap(comment.Author_Id ?? 0)':</strong> @comment.Body_txt</p>
                    }
                    
                    <p class="comment-timestamp">Posted on: @comment.Timestamp_created</p>
                    @if (_loggedInUserId != null && comment.Author_Id == _loggedInUserId) {
                        <button class="btn btn-outline-info">Edit Comment (not impl.)</button>
                    }
                </div>
            }
        } else {
            <p>No comments yet.</p>
        }
        <p>Add a comment: </p>
        <div>
            <InputTextArea class="container-fluid d-flex justify-content-center mb-2" @bind-Value="_commentTxt"></InputTextArea>
        </div>
        
        <input type="submit" value="Submit" class="btn btn-primary" @onclick="PostComment"/>
    </div>
</div>


@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private int? _loggedInUserId;
    
    [Parameter] public int postId { get; set; }
    [Parameter] public int ParentForumId { get; set; }

    private string _commentTxt = string.Empty;
    
    private PostDTO? _postDto;
    private Dictionary<int, UserProfileDTO> _authorMap = new(); // Holds the AuthorNames associated with each forum_id
    
    private List<CommentDTO> _comments = new();

    protected override async Task OnParametersSetAsync() {
        await FetchPostDetailsAsync();
        await FetchCommentsAsync();
    }

    protected override async Task OnInitializedAsync() {
        await InitializeLoggedInUser();
    }

    private async Task FetchPostDetailsAsync()
    {
        try {
            _postDto = await PostService.GetSinglePostAsync(postId, ParentForumId);
            
            // Try to get and add Authors present in the loaded forums:
            if (_postDto.Author_id != 0) {
                var userProfiles = await UserProfileService.GetManyUserProfilesAsync(_postDto.Author_id);
                
                // Find the proper UserProfile:
                foreach (UserProfileDTO userProfileDto in userProfiles) {
                    if (userProfileDto.User_id == _postDto.Author_id) {
                        _authorMap.TryAdd(_postDto.Author_id, userProfileDto);
                        break;
                    }
                }
            }
        } catch (Exception e) {
            Navigation.NavigateTo($"/Error", forceLoad:true); // TODO: Missing proper implementation
            Console.WriteLine(e.StackTrace);
        }
    }

    private async Task FetchCommentsAsync()
    {
        try {
            var comments = await CommentService.GetManyCommentsAsync(ParentForumId, postId, null);

            _comments.Clear();

            foreach (var comment in comments) {
                _comments.Add(comment);

                // Try to get and add Authors present in the loaded forums:
                if (comment.Author_Id != null && comment.Author_Id != 0) {
                    var userProfiles = await UserProfileService.GetManyUserProfilesAsync(comment.Author_Id);

                    // Find the proper UserProfile:
                    foreach (UserProfileDTO userProfileDto in userProfiles) {
                        if (userProfileDto.User_id == comment.Author_Id) {
                            _authorMap.TryAdd(comment.Author_Id ?? 0, userProfileDto);
                            break;
                        }
                    }
                }
            }

            //StateHasChanged();
        } catch (KeyNotFoundException ignored) {
            // Do nothing, when no comments are found. User must have the option to add new comments!
        } catch (Exception e) {
            Navigation.NavigateTo($"/Error", forceLoad:true); // TODO: Missing proper implementation
            Console.WriteLine(e.StackTrace);
        }
    }
    
    // Method to get AuthorName from AuthorMap:
    private String GetAuthorNameFromMap(int authorId) {
        return _authorMap.ContainsKey(authorId) ? _authorMap[authorId].Username : "UNKNOWN USER";

    }

    private async Task PostComment() {
        await PostComment(_commentTxt);
        
        _commentTxt = String.Empty;
        
        await FetchCommentsAsync();
        
        StateHasChanged();
    }

    
    private async Task PostComment(string commentTxt) {
        if (commentTxt.Any() && _postDto != null) {
            CommentDTO commentDto = new CommentDTO {
                Author_Id = _loggedInUserId ?? 0,
                Body_txt = commentTxt,
                ParentForum_id = _postDto.ParentForum_id,
                ParentPost_id = postId,
                Timestamp_created = DateTime.Now
            };
            await CommentService.AddCommentAsync(commentDto);
        }
    }
    
    
    private async Task InitializeLoggedInUser() {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        if(claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated) {
            // the user is not logged in
            return;
        }
        string? userName = claimsPrincipal.Identity?.Name;
        IEnumerable<Claim> claims = claimsPrincipal.Claims;

        Claim? userIdClaim = claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);

        if (userIdClaim != null) {
            string userIdAsString = userIdClaim.Value;
            _loggedInUserId = int.Parse(userIdAsString);
        } else {
            _loggedInUserId = null;
        }
    }
}